/*======================================
  Paginations
======================================*/

.paginations {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 46px 0 91px 0;
  a {
    font-family: $font-alt;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #414141;
    margin: 0 12px;
    &.prev,
    &.next {
      margin: 0 45px;
      color: $color-purple;
    }
    &.act {
      color: $color-purple;
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}